@using Localizable.Models
@model Localizable.Models.TranslateModel
@{
    ViewBag.Title = "Provide your translation services";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.To)
    <p>
        <b>Thank you</b> for helping us translate the texts below from <b>english</b> to @Html.TextBoxFor(m => m.Language, new { id = "targetLanguage", style = "max-width: 50px" })
    </p>

    if (!String.IsNullOrEmpty(Model.Language))
                                                                                    {
        <p>
            If you don't feel comfortable in translating a certain field, just leave it blank.
        </p>
        @Html.HiddenFor(m => m.Language)
   for (int index = 0; index < Model.Translations.Count; index++)
   {
       var item = Model.Translations[index];
            <div>
                <b>@Model.Translations[index].Key</b>
                @if (!String.IsNullOrEmpty(item.Comment))
                {
                    <em style="color: forestgreen">// @item.Comment</em>
                }
            </div>
            <div>
                @Html.HiddenFor(m => m.Translations[index].Key)
                @Html.TextBoxFor(m => m.Translations[index].Value)
                @Html.CheckBoxFor(m => m.Translations[index].Untranslatable)
                <label for="Translations_@(index)__Untranslatable" class="tooltip" title="Untranslatable means that the key is not general enough to translate (such as Advertisement1), or that it, for example, contain a company name">
                    Untranslatable
                </label>
            </div>
            <br/>
   }

        <hr/>
        <input type="submit" value="Submit my translations"/>
                                                                                    }
}
@{ Html.RenderPartial("_targetLanguageAutoComplete", ""); }
