@using Localizable.Models
@model System.Collections.Generic.List<Models.TranslationKey>
@{
    ViewBag.Title = "Translations";
}
<style>
    td { border: gainsboro 1px solid }
</style>
<p>
    Please help maintain the high quality translations by voting once per translation
    (provided you feel qualified to do so).
</p>

<table style="border: none">
@foreach (var key in Model)
{
        <tr>
            <th colspan="3" style="white-space: nowrap">@key.Key</th>
            <th colspan="2" style="white-space: nowrap; text-align: right">
            </th>
        </tr>
        foreach (var translation in key.Translations.OrderByDescending(t => t.RelativeScore))
        {
            <tr id="translationRow@(translation.Id)">
                <td>@translation.Language
                </td>
                <td>@translation.Value
                </td>
                <td id="translationRelativeScore@(translation.Id)" style="white-space: nowrap">@(translation.RelativeScore)
                </td>
                <td>
                    <a href="@Url.Action("Vote", "Oauth", new { translation = translation.Id, direction = "up" })" class="vote button" data-translationId="@translation.Id" data-direction="up">
                        +</a>
                </td>
                <td>
                    <a href="@Url.Action("Vote", "Oauth", new { translation = translation.Id, direction = "down" })" class="vote button" data-translationId="@translation.Id" data-direction="down">
                        -</a>
                </td>
            </tr>
        }
    <tr>
        <td colspan="5" style="border: none; text-align: right; padding-bottom: 40px">
            <a href="@Url.Action("Key", "Translate", new { id = key.Id })" style="font-size: smaller" class="button">add translation</a>
        </td>
    </tr>
}
</table>

@if (Request.IsAuthenticated)
{
    <script>
        $(function () {
            $("a.vote").click(function () {
                var $this = $(this);
                var id = $this.data("translationId");

                $.post('@Url.Action("Vote")', { translation: id, direction: $this.data("direction") }, function (data) {
                    $("#translationRelativeScore" + id).text(data);
                    $("#translationRow" + id).find("a.vote.button").remove();
                });
                return false;
            });
        });
    </script>
}